.feed-detail {
    
    width: 100%;
    text-align: center;

    /** Mobile first */
    &-avatar {
        width: 15rem;
        height: 15rem;
    }
    
    &-body {
        width: -webkit-calc(100% - 6rem) !important;
        width:    -moz-calc(100% - 6rem) !important;
        width:         calc(100% - 6rem) !important;
        float: right;
    }

    &-timestamp {
        color: $clr-ter;
    }

    &-text {
        color: $clr-pri;
    }
}