.row {
    @include make-row();
    margin-bottom: .5rem;
}

.cleaner {
    clear: both;
}

.fullWidth {
    width: 100%;
}

.blockEl {
    display: block;
}

h1,
h1 a,
h1 a:hover {
    color: $clr-pri;
    word-spacing: .5rem;
    letter-spacing: .2rem;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
}

h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter,
h5:first-letter,
h6:first-letter,
label:first-letter,
p:first-letter,
button:first-letter,
th:first-letter {
    text-transform: uppercase;
}

.container {
    /** Only mobile */
    @include media-breakpoint-down(sm) {
        @include width-calc(100%, 2rem);
        margin: 0 1rem;
        padding: 0;
    }
}

label,
input[type="checkbox"],
button,
.showPointer {
    cursor: pointer !important;
}

/** Bootstrap responsive table hack */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.active {
    background: $brand-success;
}
.disabled {
    background: $brand-danger;
}

.noBorder,
.noBorder:hover {
    border: 0;
    background: transparent;
}

.margin-bottom {
    &-sm {
        margin-bottom: .2rem;
    }
    &-md {
        margin-bottom: .5rem;
    }
    &-lg {
        margin-bottom: .8rem;
    }
}

.img-fluid,
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: .2rem;
}
