label {
    color: $gray-light;
}

.required {
    float: left;

    &-success {
        color: $brand-success;
    }
    &-danger {
        color: $brand-danger;
    }
}

.ownButton {
    border-radius: .3rem;
    text-transform: uppercase;
    margin: 1rem 0;
}
