.required {
    float: left;

    &-success {
        color: $brand-success;
    }
    &-danger {
        color: $brand-danger;
    }
}

.ownButton {
    width: 100%;
    border-radius: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
