header {
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem 0;
    background: $gray-lightest;
}

.app-nav {
    
    /** Mobile first */
    margin: 1rem 0 .5rem 0;
    &-link {
        display: inline-block;
        line-height: 2rem;
        text-align: center;
        margin-right: .5rem;
        font-size: 1.2rem;
        color: $gray-light;
        border-radius: 50%;
        border: 1px solid $gray-light;
        background: $white;
        &-ico {
            font-size: 1.2rem;
        }
        &-text {
            display: none;
        }
        &:hover,
        &.active-link {
            text-decoration: none;
            color: $gray-lightest;
            background: $gray-light;
        }
    }
    
    /** Only mobile */
    @include media-breakpoint-down(sm) {
        &-link {
            width: 3rem;
            height: 3rem;
            line-height: 2.9rem;
        }
    }

    /** Medium screens */
    @include media-breakpoint-up(md) {
        &-link {
            padding: .3rem .8rem;
            border-radius: .2rem;
            &-text {
                display: inline-block;
                padding: 0 .2rem;
            }
        }
    }
}
