.feed {
    
    margin-bottom: 1rem;

    &-avatar {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 10;
    }
    
    &-body {
        width: -webkit-calc(100% - 6rem) !important;
        width:    -moz-calc(100% - 6rem) !important;
        width:         calc(100% - 6rem) !important;
        float: right;
    }

    &-timestamp {
        color: $clr-ter;
    }

    &-text {
        color: $clr-pri;
        overflow: hidden;
        height: 10rem;
    }
}

.feed-detail {
    
    width: 100%;
    text-align: center;

    /** Mobile first */
    &-avatar {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    &-text {
        color: $clr-pri;
        text-align: justify;
    }
}
